/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: #f5f5f4;
  border-radius: 12px;
  max-width: none; /* Add this line to set maximum width */
}

.select {
  display: flex;
  flex-wrap: wrap;
  /* min-width: 100%; */
  padding: 0px 0px 20px 20px;
}

.content {
  display: flex;
  width: -webkit-fill-available;
  justify-content: center; /* This will create space between legend and worksheet */
  align-items: flex-start;
  padding-top: 50px;
  padding: 20px;
  max-width: 100%;
}

.mode {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0px;
  font-weight: bold;
}

.mode p {
  font-size: 18px;
  color: #333;
  margin-right: 5px; 
}

.topic {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0px;
  font-weight: bold;

}

.topic p {
  font-size: 18px;
  color: #333;
  margin-right: 5px;
}

.topic-select {
  flex: 1 1;
  padding: 7px;
  max-width: 200px;
  border: #FFDAB9;
  border-style: dashed;
  border-radius: 12px;
}

.journal-topic-select{
  flex: 1 1;
  padding: 7px;
  max-width: 200px;
  border: #FFDAB9;
  border-style: dashed;
  border-radius: 12px;
}

.exercise-topic{
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
}

.exercise-topic p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-right: 5px; /* Add margin to create space between sentence and select */
}

.submit-btn {
  display: flex;
  align-items: center;
}

.generate-excercise-btn {
  background-color: #84bcf8;
  padding: 7px 10px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s ease-in;
  margin-right: 5px
}

.generate-excercise-btn:hover{
  background-color: #0056b3;
}

.save-btn {
  background-color: #566ef5;
  padding: 7px 10px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s ease-in;
  /* margin-right: 3px; */
}

.save-btn:hover {
  background-color: rgb(102, 3, 151);
}

/* Response Section */
.response{
  padding: 20px; 
	max-width: 600px;
  /* min-width: 601px; */
}

.solution-response {
  padding: 20px;
  max-width: 600px;
  /* min-width: 601px; */
}


.ai-response p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

/* Style for empty response */
.ai-response:empty::before {

  font-size: 16px;
  color: #888; 
  text-align: center;
  display: block;
}

.user-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 20px 0px 20px;
  /* min-width: 640px; */
}

/* User Answer Section */
.user-answer p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  width: 100%;
  text-align: left;
}

.user-answer textarea {
  width: 100%;
  min-width: 250px;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* max-width: 600px; */
  font-size: 16px;
  resize: vertical;
}

.submit-answer-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 10px 40px 30px 0px;
}


.submit-answer-btn {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-answer-btn:hover {
  background-color: #0056b3;
}

.worksheet{
  max-width: 100%;
}
.legend, .quote{
  border: #FFDAB9;
  border-style: dashed;
  border-radius: 12px;
  padding: 10px;
  margin-top: 70px;
  font-size: small;
  max-width: 100%;
  margin-top: 20px;
}

/* Media query for mobile */
@media screen and (max-width: 768px) {
  
  .select {
    align-items: center;
    flex-direction: row;
  }
  .submit-btn {
    display: flex;
    justify-content: center;
  }

  .content {
    display: block;
    padding-top: 20px;
  }
  
  .exercise-topic{
    display: block;
  }
  .exercise-topic p {
    display: block;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px 0px 0px 10px;
    margin: 0;
  }
}