/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px;
  background-color: #f5f5f4;
  border-radius: 12px;
  max-width: 100%;
}

.select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
}



.mode p,
.topic p,
.exercise-topic p {
  font-size: 18px;
  color: #333;
  margin-right: 5px;
  font-weight: bold;
}

.topic-select,
.journal-topic-select,
.exercise-topic-select {
  flex: 1 1;
  padding: 7px;
  max-width: 200px;
  border: #FFDAB9;
  border-style: dashed;
  border-radius: 12px;
  font-weight: bold;

}

.submit-btn {
  display: flex;
  align-items: end;
  padding-left: 8px;
}

.generate-exercise-btn,
.save-btn {
  background-color: #84bcf8;
  padding: 7px 10px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s ease-in;
  margin-right: 2px;
}

.generate-exercise-btn:hover,
.save-btn:hover {
  background-color: #0056b3;
}

/* Response Section */
.response,
.solution-response,
.ai-response p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  padding: 20px;
  max-width: 100%;
}

.ai-response:empty::before {
  font-size: 16px;
  color: #888;
  text-align: center;
  display: block;
}

.user-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px, 20px, 0px, 20px;
  max-width: 100%;
}

.user-answer p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  width: 100%;
  text-align: left;
}

.user-answer textarea {
  width: 100%;
  min-width: 250px;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  resize: vertical;
}

.submit-answer-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 30px 0;
}

.submit-answer-btn {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-answer-btn:hover {
  background-color: #0056b3;
}

.left-filler,
.side {
  flex: 1;
  max-width: 20%;
}

.worksheet {
  flex: 3;
  max-width: 60%;
  padding: 50px 20px 0px 20px;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 20%;
  padding-top: 30px;
}

.legend,
.quote {
  border: #FFDAB9;
  border-style: dashed;
  border-radius: 12px;
  padding: 10px;
  margin-top: 20px;
  font-size: small;
  max-width: 100%;
}

/* Media query for mobile */
@media screen and (max-width: 768px) {
  .select {

    align-items: center;
    flex-flow: row;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .worksheet,
  .left-filler,
  .side {
    flex: none;
    max-width: 100%;
  }
  .generate-exercise-btn,
  .save-btn {
    margin-right: 2px;
    margin-top: 28px;
  }

  .user-answer textarea {
    min-width: calc(100% - 40px);
    margin: 10px 0;
  }

  .submit-btn {
    display: flex;
    align-items: end;
    padding-left: 8px;
  }

  .mode {
    padding-right: 2px;
  }

}
